html,

:root {
  --swiper-theme-color:red;
}


#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color:  #121212;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  //font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  background: #121212;
  //background: #08080e;
  scroll-behavior: auto;
  
  @media screen and (max-width: 600px) {
    //width: fit-content;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  background: linear-gradient(180deg, #070f1b70 0%, rgba(20, 37, 63, 70) 42.09%),
  linear-gradient(180deg, rgba(0, 0, 0, 70) 82.61%);
  padding-bottom: 130px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


//Swiper 
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: 400px)  {
    height: 300px;
}
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  width: 100%;
  
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
}

//Swiper 
.swiperCarousell {
  @media (max-width: 400px)  {
    height: 150px;
}}

.swiper-pagination-bullet {
  width: 6px;
  background: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 6px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #ff4d5a !important;
  border: 1px solid transparent;
  
}

