html,

:root {
  --swiper-theme-color:red;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color:  #08080e;
  //transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  //font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  //background: #121212;
  background: #08080e;
  scroll-behavior: auto;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  background-color: #08080e;
  //background: linear-gradient(180deg, #070f1b70 0%, rgba(20, 37, 63, 70) 42.09%),
  //linear-gradient(180deg, rgba(0, 0, 0, 70) 82.61%);
  padding-bottom: 96px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.h2 {
  color: #ffffff
}
//Swiper 
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: 400px)  {
    height: 300px;
}
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  width: 100%;
  
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
}

//Swiper 
.swiperCarousell {
  @media (max-width: 400px)  {
    height: 150px;
}}

.swiper-pagination-bullet {
  width: 6px;
  background: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 6px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #ff4d5a !important;
  border: 1px solid transparent;
  
}

